
/* Reset CSS */

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* Navigation */

nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background: linear-gradient(rgba(24, 24, 24, 0.26), rgba(255, 255, 255, 0));
    z-index: 999;
}

.liste-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
    width: 100%;
}


.item-nav {
    margin: auto 15px;
    display: flex;
    align-items: center;
}

.item-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: 'Righteous', cursive;
}

.item-nav a::after {
    content: "";
    display: block;
    margin: 2px auto;
    width: 0%;
    height: 2px;
    background: #f1f1f1;
    transition: width 0.2s ease-in-out;
}

.item-nav a:hover::after {
    width: 100%;
}

.logo-menu {
    position: absolute;
    color: #fff;
    top: 12px;
    left: 10px;
    font-size: 45px;
    display: none;
    cursor: pointer;
}

.nav-img{
    position: absolute;
    height: 40px;
    top: 18px;
    right: 20px;
}

@media screen and (max-width: 700px) {
    .logo-menu {
        display: block;
    }

    .liste-nav{
        padding-top: 70px;
        flex-direction: column;
        height: auto;
        position: relative;
        display: none;
    }

    .liste-nav.active {
        display: block;
        background: #d45c5c;
    }

    .item-nav {
        height: 70px;
        justify-content: center;
        font-size: 10px;
    }

    .nav-img {
        top: 28px;
    }

    nav {
        background: #d45c5c;
        height: 90px;
        z-index: 150;
    }
}


/*-------------- Button  -----------------*/


.button-scroll {
    height: 75px;
    width: 75px;
    background: #f1f1f1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.445);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    right: 20px;
    z-index: 150;
    transition: all 0.2s ease-in-out;
}

.button-scroll:hover .button-icone{
    color: #fff;
}

.button-scroll:hover {
    background: #d45c5c;
}


.button-up {
    bottom: 115px;
}

.button-down {
    bottom: 20px;
}

.button-icone {
    font-size: 40px;
    color: #d45c5c;
    transition: all 0.2s ease-in-out;
}




/* Home */

body {
    background: url(../img/rainbow-vortex.svg) no-repeat center/cover;
    background-attachment: fixed;
    
}

main{
    opacity: 75%;
}

.data {
    
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.data img {
    width: 100px;   
}


.data h1 {
    font-size: 45px;
    color: #fff;
    margin: 60px auto;
    font-family: 'Righteous', cursive;
    text-shadow:  0 0 2px #fff, 0 0 0px rgb(252, 252, 252);
    
}

#t{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 15px;
    margin: 2%;
    line-height: 25px;
    
}


#t1{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 30px;
       
    border-radius: 15px; 
    margin: 2%;
    line-height: 25px;
}

#gauche{
    
    width: 45%;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    text-align: center;

}

#gauche h1{
    line-height: auto;
}

#droite{
    width: 45%;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    
    
}

@media screen and (max-width: 1050px) {
    #t1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    #t1, 
    #gauche, 
    #droite {
        padding: 20px;
    }

    #droite,
    #gauche {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .data h1 {
        font-size: 30px;
    }    
}


/*--------------- FOOTER ---------------*/

footer {
    background: #d45c5c;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: clamp(5px, 3vw, 15px);
    text-align: center;
}

footer p {
    color: #fff;
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    margin: 5px 20px;
}




















