/* Reset CSS */

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* Navigation */

nav {
    position: fixed;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: linear-gradient(rgba(24, 24, 24, 0.26), rgba(255, 255, 255, 0));
}

.liste-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
    width: 100%;
}

.item-nav {
    margin: auto 15px;
    display: flex;
    align-items: center;
}


.item-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: 'Righteous', cursive;
}

.liste-nav i {
    position: absolute;
    color: #fff;
    top: 12px;
    left: 10px;
    font-size: 45px;
    display: none;
}

.item-nav a::after {
    
    content: "";
    display: block;
    margin: 2px auto;
    width: 0%;
    height: 2px;
    background: rgb(216, 77, 77);
    transition: width 0.2s ease-in-out;
}

.item-nav a:hover::after {
    width: 100%;
}



.nav-img{
    position: absolute;
    height: 40px;
    top: 15px;
    right: 20px;
    filter: invert(100%);
    
}



/* Home */

.data {
    background: url(./img/rainbow-vortex\ \(1\).svg) no-repeat center / cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.data img {
    width: 100px;   
}


.data h1 {
    font-size: 45px;
    color: #fff;
    margin: 60px auto;
    font-family: 'Righteous', cursive;
    text-shadow:  0 0 2px #fff, 0 0 0px rgb(252, 252, 252);
}

#texte{
    background-color: rgb(163, 47, 47);
    color: #fff;
    padding: 30px;
    display: flex;
    
}

#gauche{
    width: 40%;
    display: inline-block;
    
    padding: 1rem 1rem;
    vertical-align: middle;
    text-align: center;

}

#gauche h1{
    line-height: 150px;
}

#droite{
    width: 60%;
    display: inline-block;
  
  padding: 1rem 1rem;
  vertical-align: middle;
}





















